html,
body {
    color: white;
    width: 100vw;
}

h1,
h2,
h3,
p {
    font-family: 'Roboto Mono', monospace;
}

.bgcolor {
    background-color: #001022;
}

main {
    color: white;
}

nav {
    background-color: #001022;
}

.navbar-brand {
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    margin-left: 32px;
    color: #cca000;
}

.navbar-brand:hover {
    color: #f5cc00;
}

.nav-brand {
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    font-size: 18px;
}

.color-ready {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 18px;
    color: #f5cc00;
}

.color-ready:hover {
    color: #cca000;
}

.navbar-nav {
    margin-right: 32px;
    margin-left: auto;
}

.navbar-nav:hover {
    color: #f5cc00;
}

.main-nav {
    margin-top: 20px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(204, 160, 0)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(245, 204, 0)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler:active,
.custom-toggler.navbar-toggler:focus {
    outline: none;
}

#main-image {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto Mono', monospace;
    padding-top: 20px;
    padding-bottom: 20px;
}

#main-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    padding-left: 40px;
}

#pic-quote {
}

#dates-updates {
    margin-top: 20px;
    text-align: center;
}

#team-img {
    display: flex;
    padding-inline: 100px;
}

#team-roles {
    text-align: center;
    padding-top: 20px;
}
